* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.8))), url("./alex-lvrs-Md6_qA-BMis-unsplash.jpg") no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("./alex-lvrs-Md6_qA-BMis-unsplash.jpg") no-repeat;
  background-size: cover;
}

.container .viewport {
  width: 42vw;
  height: 21vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-perspective: 1300px;
          perspective: 1300px;
}

.container .viewport::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 20%;
  background-color: #000;
  z-index: -1;
  top: 140%;
  left: -10%;
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

.container .viewport .cube {
  width: 100%;
  height: 33.333333%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.container .viewport .cube-1 {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.container .viewport .cube-2 {
  -webkit-transition: -webkit-transform 0.4s 0.2s;
  transition: -webkit-transform 0.4s 0.2s;
  transition: transform 0.4s 0.2s;
  transition: transform 0.4s 0.2s, -webkit-transform 0.4s 0.2s;
}

.container .viewport .cube-3 {
  -webkit-transition: -webkit-transform 0.4s 0.4s;
  transition: -webkit-transform 0.4s 0.4s;
  transition: transform 0.4s 0.4s;
  transition: transform 0.4s 0.4s, -webkit-transform 0.4s 0.4s;
}

.container .viewport .cube .face {
  width: 100%;
  height: 100%;
  position: absolute;
}

.container .viewport .cube .front {
  -webkit-transform: translateZ(21vw);
          transform: translateZ(21vw);
}

.container .viewport .cube-1 .front {
  background: url(./img1.jpg) no-repeat 50% 0;
  background-size: cover;
}

.container .viewport .cube-2 .front {
  background: url(./img1.jpg) no-repeat 50% -7vw;
  background-size: cover;
}

.container .viewport .cube-3 .front {
  background: url(./img1.jpg) no-repeat 50% -14vw;
  background-size: cover;
}

.container .viewport .cube .back {
  -webkit-transform: translateZ(-21vw) rotateY(180deg);
          transform: translateZ(-21vw) rotateY(180deg);
}

.container .viewport .cube-1 .back {
  background: url(./img2.jpg) no-repeat 50% 0;
  background-size: cover;
}

.container .viewport .cube-2 .back {
  background: url(./img2.jpg) no-repeat 50% -7vw;
  background-size: cover;
}

.container .viewport .cube-3 .back {
  background: url(./img2.jpg) no-repeat 50% -14vw;
  background-size: cover;
}

.container .viewport .cube .left {
  -webkit-transform: translateX(-21vw) rotateY(-90deg);
          transform: translateX(-21vw) rotateY(-90deg);
}

.container .viewport .cube-1 .left {
  background: url(./img3.jpg) no-repeat 50% 0;
  background-size: cover;
}

.container .viewport .cube-2 .left {
  background: url(./img3.jpg) no-repeat 50% -7vw;
  background-size: cover;
}

.container .viewport .cube-3 .left {
  background: url(./img3.jpg) no-repeat 50% -14vw;
  background-size: cover;
}

.container .viewport .cube .right {
  -webkit-transform: translateX(21vw) rotateY(90deg);
          transform: translateX(21vw) rotateY(90deg);
}

.container .viewport .cube-1 .right {
  background: url(./img2.jpg) no-repeat 50% 0;
  background-size: cover;
}

.container .viewport .cube-2 .right {
  background: url(./img2.jpg) no-repeat 50% -7vw;
  background-size: cover;
}

.container .viewport .cube-3 .right {
  background: url(./img2.jpg) no-repeat 50% -14vw;
  background-size: cover;
}

.container .viewport .cube .top {
  height: 42vw;
  background-color: #111;
  -webkit-transform: translateY(-21vw) rotateX(90deg);
          transform: translateY(-21vw) rotateX(90deg);
}

.container .viewport .cube .bottom {
  height: 42vw;
  background-color: #111;
  -webkit-transform: translateY(-14vw) rotateX(-90deg);
          transform: translateY(-14vw) rotateX(-90deg);
}

.control {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 1px solid white;
  background-color: rgba(59, 52, 50, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border-radius: 100%;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.control:hover {
  background-color: rgba(42, 38, 36, 0.8);
}

.control i {
  pointer-events: none;
}

.left-arrow {
  top: 50%;
  left: -35%;
}

.right-arrow {
  top: 50%;
  left: 135%;
}

.play-pause {
  top: 140%;
  left: 120%;
}
/*# sourceMappingURL=style.css.map */